<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles.css">
    {# <link rel="manifest" href="/manifest.json"> #}
</head>
<body>
    {# <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a>
    </nav> #}

    {# <main> #}
        {{ content | safe }}
    {# </main> #}
    <script src="/assets/bootstrap.bundle.min.js"></script>

</body>
</html>
