---
title: "Overview of Mittag"
layout: base.njk
---
<script src="/assets/dashboard.js"></script>

<section class="abfahrtstafel">
    <h1>🚏 Abfahrten – Klein Glien (inkl. morgen)</h1>
    <div id="clock">🕒 Uhrzeit: --:--</div>
    <div id="countdown">⏳ Aktualisierung in: 60s</div>
    <div id="monitor">Lade Abfahrten...</div>
</section>