body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f5ef;
}
svg {
    width: 50%; /* Adjust size */
    height: auto;
}
.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:disabled {
    background-color: #245f49;
    cursor: not-allowed;
}
.menu-day td {
    padding: 10px;
    border: 1px solid #9bb449;
    color: #245f49;
    background-color: #f1f5ef;
}
td.highlight {
    background-color: #9bb449
}
.menu{
    background-color: #fedf5f;
}
.menu td {
    padding: 10px;
    border: 1px solid #f1f5ef;
    color: #245f49;
}